table.table tr.important td {
    background-color: pink;
}

#add-wish-view {
    display: none;
}

.nav-item a.active {
    border-bottom: 2px solid tomato;
}

#edit-delete-view {
    display: none;
}

#edit-wish-view {
    display: none;
}